<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251512652506-d6lq1bsb538en2k45hjsdg1veeru5uu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251512652506-d6lq1bsb538en2k45hjsdg1veeru5uu7</string>
	<key>API_KEY</key>
	<string>AIzaSyBCRtxTFdC1S2fw3iGQ-9P5IPaD5cc23kA</string>
	<key>GCM_SENDER_ID</key>
	<string>251512652506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firenote</string>
	<key>PROJECT_ID</key>
	<string>notes-65d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-65d4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251512652506:ios:5f61643ec2828c060b5be3</string>
	<key>DATABASE_URL</key>
	<string>https://notes-65d4e-default-rtdb.firebaseio.com</string>
</dict>
</plist>